<div class="text-center">
    <img src="/Imagen/meme.png" alt="Meme" style="width: 400px; height: 500px;" />
    <div class="mt-3">
        <input type="text" id="userInput" class="form-control" placeholder="Escribe algo aquí..." />
        <button class="btn btn-outline-info btn-lg mt-2" onclick="showAlert()">Mostrar Alerta</button>
    </div>
</div>

<script>
    function showAlert() {
        const inputValue = document.getElementById('userInput').value;
        alert(`Mi nombre es Mateo Cisneros, mi hobbie es programar y videojuegos y el valor del campo de texto es: ${inputValue}`);
    }
</script>